<div class="navbar">
  <div class="w-full lg:w-9 px-4 lg:px-0 mx-auto">
    <p-menubar [model]="menuItems">
      
      <ng-template pTemplate="start">
        <div class="w-full relative -mt-2">
          <div class="absolute left-0 top-0">
            <img src="../../assets/images/nit/logo.png" width="100" alt="logo">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="end">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=9811690096&text=Hello this is the starting message" class="talk no-underline inline-block">LET'S TALK</a>

      </ng-template>
        <div class="grid grid-nogutter">
         
        </div>
    
    </p-menubar>
    
  </div>
</div>