<div class="navbar">
  <div class="w-full lg:w-9 px-4 lg:px-0 mx-auto">
    <p-menubar [model]="menuItems">
      
      <ng-template pTemplate="start">
        <div class="w-full relative -mt-2">
          <div class="absolute left-0 top-0">
            <img src="../../assets/images/nit/logo.png" width="100" alt="logo">
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="end">
        <button type="button" pButton pRipple label="LET'S TALK" class="talk"></button>
      </ng-template>
        <div class="grid grid-nogutter">
          <!-- <div class="col-3">
            <div class="w-full relative mt-2">
              <div class="absolute left-0 top-0">
                <img src="../../assets/images/nit/logo.png" width="100" alt="logo">
              </div>
            </div>
          </div> -->
          <!-- <div class="col-9">
            <div class="w-full">
              <nav class="text-right">
                <a href="javascript:void(0)" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
                <a href="javascript:void(0)" [routerLink]="['/about']" [routerLinkActive]="['active']">About Us</a>
                <a href="javascript:void(0)" [routerLink]="['/packages']" [routerLinkActive]="['active']">Packages</a>
                <a href="javascript:void(0)">Contact Us</a>
                <button type="button" pButton pRipple label="LET'S TALK" class="talk"></button>
              </nav>
    
            </div>
    
          </div> -->
        </div>
    
    </p-menubar>
    
  </div>
</div>