<footer>
  <div class="w-full lg:w-9 px-4 lg:px-0 mx-auto">
    <div class="grid">
      <div class="col-12 lg:col-6">
        <img src="../../assets/images/nit/logo.png" width="140" alt="logo">
        <p class="text-sm text-white font-roboto lg:pr-8">Nit Sewa takes care of the daily car cleaning for you relieving you from all the stress and pain you have suffered till today. Nit Sewa will take care of your vehicle and provide you with all the essential cleaning services required for your vehicle in the long run. We have introduced a daily car cleaning subscription service for you, which includes all the necessary elements required to keep your car bright and shiny forever.</p>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="w-full pt-2 lg:pt-8">
          <h2 class="text-white text-2xl pb-2">Quick Links</h2>
        </div>
        <nav>
          <ul class="list-none p-0">
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline" [routerLink]="['/home']"><i class="pi pi-angle-right"></i> Home</a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline" [routerLink]="['/about']"><i class="pi pi-angle-right"></i> About</a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline" [routerLink]="['/packages']"><i class="pi pi-angle-right"></i> Packages</a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline" [routerLink]="['/']"><i class="pi pi-angle-right"></i> Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
        <div class="w-full pt-2 lg:pt-8">
          <h2 class="text-white text-2xl pb-2">Follow Us On</h2>
        </div>
        <nav>
          <ul class="list-none p-0">
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline">
              <i class="pi pi-facebook"></i>
            </a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline">
              <i class="pi pi-twitter"></i>
            </a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline"> <i class="pi pi-linkedin"></i>
            </a></li>
            <li class="text-md text-white font-roboto py-2"><a href="javascript:void(0)" class="text-white no-underline"> 
              <i class="pi pi-instagram"></i>
            </a></li>
          </ul>
        </nav>
      </div>
    </div>
    <p class="text-sm text-center txt-darkred py-3 m-0 font-normal"> &copy; Copyrights 2023, All Rights Reserved.</p>
  </div>
</footer>