<div class="main pb-6">
  <div class="relative">
    <img src="../../../assets/images/about-top.jpg" class="w-full" alt="">
    <div class="w-full py-8 absolute flex justify-content-center top-0 align-items-center h-full">
      <h1 class="text-6xl txt-darkred text-center common-head"><span>ABOUT US</span></h1>
    </div>
  </div>
  <div class="w-9 mx-auto py-8">
    <div class="grid grid-nogutter">
      <div class="col-12 xl:col-6">
        <div class="w-full p-0 xl:pr-6">
          <div class="w-full image-shadow">
            <img src="../../../assets/images/about-details.jpg" class="w-full">
          </div>
        </div>
      </div>
      <div class="col-12 xl:col-6">
        <h1 class="font-roboto heading uppercase m-0">NIT SEWA CLEANING SERVICE</h1>
        <p class="font-roboto desc">
          <span class="txt-darkred font-bold">Problem statement:</span> Every day a cleaner comes to clean the car and
          when you reach the car to go to the office or take it out on a stroll, you find dirty watermarks everywhere on
          the body of the car. Dirt hasn't been cleaned properly. Some corners are left untouched. Even though it was
          the interior cleaning, the interior looks filthy and dirty. The seat pockets haven't been even paid attention
          to. Now you think of saying no to your car cleaner. “But wait…… what's the guarantee that the other cleaner
          will do his job properly? What if he too starts doing the same after a few days?” Now you are pulling your
          hair in agony and stress. You think there is no solution to this unending stress.
        </p>
        <p class="font-roboto desc">
          <span class="txt-darkred font-bold">Solution:</span>
          Nit Sewa takes care of the daily car cleaning for you relieving you from all the stress and pain you have
          suffered till today. Nit Sewa will take care of your vehicle and provide you with all the essential
          cleaning services required for your vehicle in the long run. We have introduced a daily car cleaning
          subscription service for you, which includes all the necessary elements required to keep your car bright and
          shiny forever.
        </p>
      </div>
    </div>
  </div>
</div>