<div class="main">
  <p-galleria [value]="homeBanner" [numVisible]="1" [autoPlay]="true" [transitionInterval]="8000" [circular]="true"
    [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true"
    indicatorsPosition="right">
    <ng-template pTemplate="item" let-item let-index="rowIndex">
      {{index}}
      <img src="{{item?.url}}" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="caption" let-capt>
      <p class="text-md txt-red text-center txt-shadow">{{capt?.caption_title}}</p>
      <h1 class="text-6xxl text-center w-9 mx-auto my-2">{{capt?.caption_description}}</h1>
    </ng-template>
  </p-galleria>

  <div class="w-full">
    <div class="card">
      <div class="flex card-container bg-white overflow-hidden">
          <div class="flex-none flex align-items-center font-bold txt-darkred px-3">Referral Programme:</div>
          <div class="flex-grow-1 flex align-items-center">
            <marquee direction="left" class="font-roboto text-md txt-darkred py-3 px-2" scrolldelay="100" behavior="loop">
              <b>3 Referrals</b> One free seat Dry-Cleaning (Need to be availed within 3 months).
              <b>5 Referrals</b> One free seat Dry-Cleaning and one free Interior Spa (Need to be availed within 3 months).
            </marquee>
          </div>
      </div>
  </div>
   
  </div>
  

  <!--aim and objective section start  -->
  <div class="part-1">
    <div class="w-9 mx-auto py-8">
      <div class="grid grid-nogutter">
        <div class="col-6">
          <div class="w-full h-30rem py-6 pr-2">
            <div class="videos h-full">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/e_JheoTlyqQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="w-full py-6 pl-8">
            <h1 class="font-roboto heading uppercase txt-red m-0">{{objectives?.title}}</h1>
            <p class="font-roboto desc">{{objectives?.descset_1}}</p>
            <p class="font-roboto desc">{{objectives?.descset_2}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Problem Statement -->
  <div class="part-2">
    <div class="w-9 mx-auto py-8">
      <div class="grid grid-nogutter">
        <div class="col-6">
          <div class="w-full py-6">
            <h1 class="font-roboto heading uppercase txt-red m-0">{{problemStatement?.title}}</h1>
            <p class="font-roboto desc">{{problemStatement?.descset_1}}</p>
            <p class="font-roboto desc">{{problemStatement?.descset_2}}</p>

            <button pButton pRipple type="button" label="LET'S TALK" class="talk mt-6"></button>
          </div>
        </div>
        <div class="col-6">
          <div class="w-full h-30rem py-8">
            <img src="../../../assets/images/part-2.png" class="w-full py-6">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SERVICES OFFERED BY THE SYSTEM -->
  <div class="w-full py-6">
    <div class="w-9 mx-auto">
      <h2 class="font-roboto heading text-center txt-red mt-0">SERVICES OFFERED BY THE SYSTEM</h2>
      <p class="font-roboto text-center desc">We will form the ecosystem in multiple phases. Every phase will contain
        one or multiple services to be launched in the market. Current strategy for the launch of phases is as follows:
      </p>

      <p class="font-roboto text-center desc">The phases can keep on increasing in the future depending upon the
        addition of new services to the product.</p>
      <div class="grid">
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative">
            <div class="service-logo">
              <img src="../../../assets/images/car-wash.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Car Cleaning Services</h2>
            </div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/dog-house.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Home Cleaning Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/kitchen.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Home Cook Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/laundry-service.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Laundry & Shoe Cleaning Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/concierge.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Concierge Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/healthcare.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Health Care Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/list.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Complete Subscription Services</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 pt-8">
          <div class="service border-round-sm p-5 h-full relative opacity-40">
            <div class="service-logo">
              <img src="../../../assets/images/marketplace.png" alt="">
            </div>
            <div class="service-name">
              <h2 class="font-roboto text-center">Marketplace</h2>
            </div>
            <div class="absolute bottom-0 left-0 bg-white p-1 w-full text-center txt-red">Coming soon...</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- packages section -->
  <div class="packages">
    <div class="w-9 mx-auto py-8">
      <h1 class="font-roboto heading uppercase text-center txt-red m-0 pb-6">Packages</h1>
      <div class="grid">
        <div class="col-12 md:col-6 xl:col-4">
          <div class="w-full h-full flex px-3">
            <div class="packages__details text-center h-full w-full image-shadow">
              <h3 class="text-2xl font-roboto text-center text-white relative m-0 z-1">Monthly</h3>
              <p class="text-md text-center text-black-alpha-90 h-5rem pt-2">No Discount</p>
              <p class="text-sm txt-red text-center font-italic m-0 pb-2">Note: <sup>*</sup>All discounts are applicable only once</p>
              <button type="button" pButton pRipple label="View More" class="talk"></button>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4">
          <div class="w-full h-full flex px-3">
            <div class="packages__details text-center h-full image-shadow">
              <h3 class="text-2xl font-roboto text-center text-white relative m-0 z-1">3 Monthly</h3>
              <p class="text-md text-center text-black-alpha-90 h-5rem pt-2">One free seat Dry-Cleaning (Need to be availed
                within 3 months).</p>
                <p class="text-sm txt-red text-center font-italic m-0 pb-2">Note: <sup>*</sup>All discounts are applicable only once</p>
              <button type="button" pButton pRipple label="View More" class="talk"></button>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 xl:col-4">
          <div class="w-full h-full flex px-3">
            <div class="packages__details text-center h-full image-shadow">
              <h3 class="text-2xl font-roboto text-center text-white relative m-0 z-1">6 Monthly</h3>
              <p class="text-md text-center text-black-alpha-90 h-5rem pt-2">One free seat Dry-Cleaning and one free Interior
                Spa (Need to be availed within 3 months).</p>
                <p class="text-sm txt-red text-center font-italic m-0 pb-2">Note: <sup>*</sup>All discounts are applicable only once</p>
              <button type="button" pButton pRipple label="View More" class="talk"></button>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>

  <!-- Nit sewa -->
  <div class="part-3">
    <div class="w-9 mx-auto">
      <div class="grid grid-nogutter">
        <div class="col-7">
          <div class="w-full pt-8">
            <img src="../../../assets/images/nit-sewa-1.png" class="w-full pt-8">
          </div>
        </div>
        <div class="col-5">
          <div class="w-full py-6 pl-8 mt-6">
            <h1 class="font-roboto heading uppercase txt-red m-0">Nit Sewa</h1>
            <p class="font-roboto desc">It is a long established fact that a reader will be distracted by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal distribution of letters, as opposed to using 'Content here, content here', making it look like
              readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
              default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- project details -->
  <div class="w-full pt-8 pb-4">
    <div class="flex">
      <div class="flex-1 flex align-items-center justify-content-center">
        <div class="w-full text-center">
          <h2 class="text-7xl line-height-2 m-0">2018</h2>
          <h5 class="text-md uppercase m-0">founded</h5>
        </div>
      </div>
      <div class="flex-1 flex align-items-center justify-content-center">
        <div class="w-full text-center">
          <h2 class="text-7xl line-height-2 m-0">2000220</h2>
          <h5 class="text-md uppercase m-0">Projects</h5>
        </div>
      </div>
      <div class="flex-1 flex align-items-center justify-content-center">
        <div class="w-full text-center">
          <h2 class="text-7xl line-height-2 m-0">100039</h2>
          <h5 class="text-md uppercase m-0">Clients</h5>
        </div>
      </div>
      <div class="flex-1 flex align-items-center justify-content-center">
        <div class="w-full text-center">
          <h2 class="text-7xl line-height-2 m-0">5+</h2>
          <h5 class="text-md uppercase m-0">Stores</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- latest work -->
  <div class="w-full">
    <div class="w-9 mx-auto py-8">
      <!-- <h6 class="text-md txt-red uppercase text-center">your one stop solutions</h6> -->
      <h2 class="font-roboto heading uppercase m-0 txt-red text-center">Our Latest Work</h2>
      <p class="font-roboto desc text-center w-6 mx-auto">It is a long established fact that a reader will be distracted
        by the readable
        content of a page when looking at its layout.</p>

      <div class="w-full mt-6">
        <p-carousel [value]="latestWork" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
          [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="product-item-content">
                <div class="border-1 border-solid border-white h-20rem">
                  <img [src]="product.url" class="product-image w-full h-full" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <!-- dream car -->
  <div class="part-4">
    <div class="w-9 mx-auto py-4">
      <div class="grid grid-nogutter">
        <div class="col-5">
          <button pButton pRipple type="button" label="LET'S TALK" class="talk"></button>
        </div>
        <div class="col-7">
          <h1 class="text-8xl txt-red line-height-2 m-0 uppercase">LET’S PROTECT YOUR</h1>
          <h1 class="text-8xl txt-red line-height-2 m-0 uppercase">DREAM CAR!</h1>
        </div>
      </div>
    </div>
  </div>
</div>